<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Activ'</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="../css/modalError.css">
        <link rel="manifest" href="../manifest.json">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!--<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>-->
		<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="../js/settings.js"></script>
		<script type="text/javascript" src="../js/sendKeywords.js"></script>
	</head>
	<body ng-app="starter" class="profils_background">
    <div class="content-wrap">
    <div class="content">
    <div id="modalSettings" class="modalSettings">
        <div class="modalSettings-content">
         <p>Vos qualités</p>
          <div class="contentform">
            <p>
              <font color="orange">(15 lettres maximum par mots)</font>
              <input id="about-1" onchange="aboutme1()"maxlength="15" size="10"/><br />
              <input id="about-2" onchange="aboutme2()"maxlength="15" size="10"/><br />
              <input id="about-3" onchange="aboutme3()"maxlength="15" size="10"/>
              <button onclick="keywordHeaderSettings()">Valider</button>
            </p>
          </div>
        </div>
    </div>
        <div id="modalSettingsBox" class="modalSettingsBox">
            <div class="modalSettingsBox-content">
               <p>Choisissez un titre :</p>
                <div class="contentform">
                    <select id="searchme-1" onchange="searchme1()" class="keywordSelect">
                        <option value="Passion">Passion</option>
                        <option value="Loisirs">Loisirs</option>
                        <option value="Humeur">Humeur</option>
                        <option value="Ce que je cherche">Ce que je cherche</option>
                        <option value="Ce que j'offres">Ce que j'offres</option>
                    </select>
                    <style>
                        textarea {
                            resize: vertical;
                            max-height: 50%;
                        }
                    </style>
                    <br />
                    <p>Ecrivez quelques mots :</p>
                    <textarea id="searchme1-value" onchange="searchme1value()" rows="4" cols="30"></textarea>
                </div>
            <button onclick="closeSettingsBox()">Close</button>
          </div>
        </div> 
    <div id="home">
       <div class="headerLine">
           <a href="javascript:history.go(-1)"><img src="../img/left-arrow.png"></a>
		<div class="container">
			<div class="row wrap">
				<div class="col-md-12 gallery">
                        <div id="cover-text">
                            <p><h2 id="fullname"></h2></p>
                            <div class="quality_section">
                              <p class="quality" id="about1"></p>
                              <p class="quality" id="about2"></p>
                              <p class="quality" id="about3">
                                <div id="settings-quality" onclick="settings()"><img src="../img/white-pencil.png" /></div>
                              </p>
                            </div>
                            <!--<p>BIM - <em>Société de Logistique</em></p>-->
                            <p id="entreprise"></p>
                            <!--<p>Paris Batignolle</p>-->
                        </div>
				</div>
			</div>
		</div>
	</div>
    <div class="profils_image"></div>
        <!--<div class="status_locate">Disponible jusqu'à 19H à Paris</div>-->
        <div class="container">
            <div class="box shadow_box">
                <div id="settings-box" onclick="settingsBox()"><img src="../img/redpencil.png" /></div>
                <h3 id="search-text"></h3>
                <p id="search-textFull"></p>
                <!--<li id='offer-1'></li>
                <li id='offer-2'></li>
                <li id='offer-3'></li>-->
            </div>
        </div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 project">
					<div class="biographie">
        
              <br />
                <div id="Subtitle" class="subtitle"></div>
                <div class="sublocate">
                  27 Bd des Batignolles, Paris <img src="../img/map2.png" />
                </div>
                  <p id="describe"></p>
                </div>
				</div>
			</div>
		</div>
        <h2><center>Votre position</center></h2>
        <div id="map_container"></div>
	    <div id="map"></div>
        <center>
            <div class="actionButton" onclick="logout()">
                Déconnexion
            </div>
        </center>
    </div>
   </div>
  </div>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBGqZcyaOk8PwA8hkSwoB0eYxNXZtWDluY'></script>
<script>
function logout() {
    window.localStorage.setItem('session', 0);
    window.setTimeout("location=('login.html');", 3000);
}
var firstname = window.localStorage.getItem('user/first_name');
var lastname = window.localStorage.getItem('user/last_name');
var fullname = firstname + ' ' + lastname;
$('#fullname').append("", fullname);

var offer1 = window.localStorage.getItem('keyword/quality/1');
$('#offer-1').append("", offer1);

var offer2 = window.localStorage.getItem('keyword/quality/2');
$('#offer-2').append("", offer2);

var offer3 = window.localStorage.getItem('keyword/quality/3');
$('#offer-3').append("", offer3);
    
var search1 = window.localStorage.getItem('keyword/search/1');
$('#search-1').append("", search1);

var search2 = window.localStorage.getItem('keyword/search/2');
$('#search-2').append("", search2);

var search3 = window.localStorage.getItem('keyword/search/3');
$('#search-3').append("", search3);
    
var entreprise = window.localStorage.getItem('user/entreprise');
$('#Subtitle').append("", entreprise);
$('#entreprise').append("", entreprise);

var about1 = window.localStorage.getItem('user/aboutme1');
$('#about1').append("", about1);
    
var about2 = window.localStorage.getItem('user/aboutme2');
$('#about2').append("", about2);
    
var about3 = window.localStorage.getItem('user/aboutme3');
$('#about3').append("", about3);
    
var describe = window.localStorage.getItem('user/describe');
$('#describe').append("", describe);

var userId = window.localStorage.getItem('user/id');
var boxTitle = window.localStorage.getItem('keyword/search/1');
document.getElementById("search-text").innerHTML = '<h3>'+boxTitle+'</h3>';

var boxContent = window.localStorage.getItem('searchme1-value');
document.getElementById("search-textFull").innerHTML = '<h4>'+boxContent+'</h4>';

$(document).ready(function() {
    function initialize() {
        var myLatlng = new google.maps.LatLng(window.localStorage.getItem('user/position/latitude'),window.localStorage.getItem('user/position/longitude'));
        var imagePath = '../img/map-marker.png'
        var mapOptions = {
            zoom: 11,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

		var map = new google.maps.Map(document.getElementById('map'), mapOptions);
		//Callout Content
		var contentString = 'Vous etes ici';
		//Set window width + content
		var infowindow = new google.maps.InfoWindow({
			content: contentString,
			maxWidth: 500
		});

		//Add Marker
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			icon: imagePath,
			title: 'image title'
		});

		google.maps.event.addListener(marker, 'click', function() {
			infowindow.open(map,marker);
		});

		//Resize Function
		google.maps.event.addDomListener(window, "resize", function() {
			var center = map.getCenter();
			google.maps.event.trigger(map, "resize");
			map.setCenter(center);
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);

});
</script>
</script>
 </body>
</html>
